.useroffre{
    margin:30px;
    text-align: center;
    width: 300px;
    overflow: hidden;
    background-color: rgba(177, 170, 177, 0.877);
    border-radius: 10px;
}
.photooffre{
    width:300px;
}
.like-offre{
    display: flex;
    justify-content: space-around;
    background-color: rgba(107, 7, 107, 0.719);
    align-items: center;
}
.published{
    margin:10px;
    font-weight: sans-serif;
    color:rgba(206, 39, 9, 0.89);
    font-size: 26px;
}
.text-offre{
    display: flex;
    margin-left: 60px;
    font-weight: bold;
}
.btn-useroffre{
    background-color: inherit;
    width:80px;
}